
XFFantasticUI/.vs/XFFantasticUI/project-colors.json
XFFantasticUI/.vs/XFFantasticUI/v17/.futdcache.v1
XFFantasticUI/.vs/XFFantasticUI/v17/.suo
XFFantasticUI/XFFantasticUI.Android/bin/
XFFantasticUI/XFFantasticUI.Android/obj/
XFFantasticUI/XFFantasticUI.iOS/bin/
XFFantasticUI/XFFantasticUI.iOS/obj/
XFFantasticUI/XFFantasticUI/bin/
XFFantasticUI/XFFantasticUI/obj/
